
.btn {

    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 10px 25px 9px;
    font-size: 12px;
}


/*Type-3
==========================*/
.btn-type3 {

    background-color: #112D32 !important;
    border-color: #EA4343 !important;

}
.btn-type3:hover, .btn-type3:focus, .btn-type3:active {
    background: none repeat scroll 0 0 #EB4848 !important;
    border-color: #E83131 !important;
}

div.messages{
    margin: auto;
    background: #397CAC;
    width: 90%;
}

div.chat{
    border-radius: 50px;
    background: #397CAC;
    height: 10%;
    width: 33%;
}

div.formulaire
{
    margin: auto;
    background: #397CAC;
    width: 95%;
    height: 10%;
}

div.input{
    background: #397CAC;
}

input.form{
    background: #397CAC;
    border-radius: 6px;
    border:  1px solid black;
    margin: auto;
    padding: 10px 25px 9px;
}


input.form:focus, input.form:active, input.form:hover {
    background: none repeat scroll 0 0 #ac3713 !important;
    border-color: #AC3713 !important;
}


p{
    text-align: center;
}